extends layout

block content
    h1 #{h.models[2].title}
    if entries.length
        table.table.table-hover.table-responsive
            thead
                tr
                    th(scope="col") #
                    th(scope="col") Term
                    th(scope="col") Author
                    
            each entry in entries
                tr
                    td #{entry.entryId}
                    td #{entry.term}
                    td #{entry.author.name}
        
        br
        br
        //- pre= JSON.stringify(entries, null, 2)
    else
        p The list of entries is empty at the moment :(
    script.
        console.log(!{JSON.stringify(entries)})
