extends layout

block content
    h1 #{h.models[2].title}
    if entries.length
        table.table.table-hover.table-responsive
            thead
                tr
                    th(scope="col") #
                    th.center(scope="col") Term
                    th.center(scope="col") Author
                    
            each entry in entries
                tr
                    td 
                        a(href=`/entry/${entry.entryId}`) #{entry.entryId}
                    td.center #{entry.term}
                    td.center #{entry.author.name}
        
        br
        br
        //- pre= JSON.stringify(entries, null, 2)
    else
        p The list of entries is empty at the moment :(
    script.
        console.log(!{JSON.stringify(entries)})
