extends layout

block content
  
    h1 #{h.models[1].title}
    if glossaries.length
        
        table.table.table-hover.table-responsive
            thead
                tr
                    th(scope="col") #
                    th.center(scope="col") Title
                    th.center(scope="col") Author
                    
            each glossary in glossaries

                    tr
                        td 
                            a(href=`/glossary/${glossary.glossaryId}`) #{glossary.glossaryId}
                        td.center 
                            a(href=`/glossary/${glossary.glossaryId}`) #{glossary.title}
                        td.center 
                            a(href=`/user/${glossary.author.userId}`) #{glossary.author.name}
                    
        br
        br
        //- pre= JSON.stringify(glossaries, null, 2)
    else
        p The list of glossaries is currently empty :(
    script.
        //- console.log(!{JSON.stringify(glossaries)})
       
