extends layout

block content
  
    h1 #{h.models[1].title}
    if glossaries.length
        
        table.table.table-hover.table-responsive
            thead
                tr
                    th(scope="col") #
                    th(scope="col") Title
                    th(scope="col") Author
                    
            each glossary in glossaries
                tr
                    td #{glossary.glossaryId}
                    td #{glossary.title}
                    td #{glossary.author.name}
                    
        br
        br
        //- pre= JSON.stringify(glossaries, null, 2)
    else
        p The list of glossaries is currently empty :(
    script.
        console.log(!{JSON.stringify(glossaries)})
