extends layout

block content
    .row
        .col-md-3
        .col-md-6
            .quote
                blockquote
                        h2 “
                        h3 #{h.motto}
    br
    br
    .row
        each model in h.models
            a.col-md-4(href=model.slug)
                .well
                    h2 #{model.title}

    .row
        .col-md-4
            .well
                each feat in h.userFeatures
                    ul.list-group
                        li.list-group-item #{feat.feature}

        .col-md-4
            .well
                each feat in h.glossaryFeatures
                    ul.list-group
                        li.list-group-item #{feat.feature}
        
        .col-md-4
            .well
                each feat in h.entryFeatures
                    ul.list-group
                        li.list-group-item #{feat.feature}