extends layout

block content
    h1 #{h.models[0].title}
    if users.length
       
        table.table.table-hover.table-responsive
            thead
                tr
                    th(scope="col") #
                    th(scope="col") Name
                    th(scope="col") Email
                    
            each user in users
                tr
                    td #{user.userId}
                    td #{user.name}
                    td #{user.email}
        
        br
        br    
        //- pre= JSON.stringify(users, null, 2)
    else
        p There's no one yet :(
    script.
        console.log(!{JSON.stringify(users)})
