extends layout

block content
    h1 #{h.models[0].title}
    if users.length
       
        table.table.table-hover.table-responsive
            thead
                tr
                    th(scope="col") #
                    th.center(scope="col") Name
                    th.center(scope="col") Glossaries
                    th.center(scope="col") Entries
                    
            each user in users
                tr
                    td 
                        a(href=`/user/${user.userId}`) #{user.userId}
                    td.center 
                        a(href=`/user/${user.userId}`) #{user.name}
                    td.center #{user.nOfGlossaries}
                    td.center #{user.nOfEntries}
        
        br
        br    
        //- pre= JSON.stringify(users, null, 2)
    else
        p There's no one yet :(
    script.
        console.log(!{JSON.stringify(users)})
